*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: hsl(32, 98%, 56%);
    --black:#130f0d;
}

.container{
    display: grid;
    grid-template-rows: 5px 5px;
    grid-template-columns: repeat(6,1fr);
    justify-content: space-between;
    grid-row-gap: 100%;
}

.item{
    background: var(--primary);
    width: 15vw;
    height: 25vh;
    margin: 10% 5%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--black);
}

i{
    font-size: 60px;
    color: var(--black);
    cursor: pointer;
    
}

.hide{
    display: none;
}

#myselect{
    position: absolute;
    right: 340px;
    box-shadow: 0 10px 25px rgba(0,0,0.3);
    appearance: none;
    border: 0;
    overflow: hidden;
    height: 35vh; 
}

#myselect option{
    padding: auto;
    margin: 8px;
}
