*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(6,auto);
    justify-content: space-between;
    grid-row-gap: 100%;
}

.item{
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 15px;
}